body {
    background-color: blanchedalmond;
}

.header {
    display: flex;
    justify-content: center;
}

header {
    color:blueviolet;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
}

#app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px;
}

.radio {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.card {
    margin-bottom: 50px;
}

#petHeader {
    display: flex;
    justify-content: center;
}